doctype html

html

  head
    script( src="/build/browser/test/client/index.js" type="module" )

  body
    breeze-connect(
      data-display-name = "Breeze Connect Test"
      data-authority = "test-api.dashkite.com"
      data-mode = "development"
    )
