form
  header
    h1 Connect Your Account

    section
      :markdown
        Connecting your account to an existing identity provider
        ensures that you can always update your page, even after
        you logout, or when you login from another device.

  section
    nav
      ul
        li: button(name = 'google')
          img(src = "/images/google-signin.png")
          span Login With Google

        li: button(name = 'facebook')
          img(src = "/images/facebook-signin.png")
          span Login With Facebook

        li: button(name = 'github')
          img(src = "/images/github-signin.png")
          span Login With Github

        li: button(name = 'wordpress')
          img(src = "/images/wordpress-signin.png")
          span Login With WordPress
