form
  header
    h1 Connect Your Account

    section
      :markdown
        Connecting your account to an existing identity provider
        ensures that you can always update your page, even after
        you logout, or when you login from another device.

  section
    :markdown
      Redirecting you to your identity provider...
