:host
  display block

nav
  display flex
  flex-flow column
  flex-wrap wrap
  gap 1rem
  
  button 
    display flex
    justify-content center
    align-items center
    gap 1rem
    width 16rem
    padding 0.5rem
    background var(--button-background, transparent)
    color var(--button-color, inherit)
    border 1px solid silver
    border-radius var(--button-border-radius, 0.25rem)
    
    img
      width 2rem
      height 2rem