mixin pip(n)
  if stage >= n
    .pip.success
  else
    .pip

article
  header
    h1 Validating Authentication&hellip;

    if message 
      .message 
        p= message

  section#progress
    +pip(1)
    +pip(2)
    +pip(3)
